@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    
    overflow: auto;
    box-sizing: border-box;
    
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #ffffff;
}

@media screen and (max-width: 650px) {
    html, body {
        font-size: 12px;
    }
}




/* ---------- FLEXBOX ---------- */
.flex {
    display: flex;
}

.col {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.warp {
    flex-wrap: wrap;
}

.position {
    position: fixed;
    height: 50%;
    width: 100%;
}


/* ---------- STYLES ---------- */
h1 {
    font-weight: 200;
    font-size: 5em;

    letter-spacing: 1rem;

    margin: 0;
    padding: 0;
}

p {
    font-weight: 700;
    font-size: 2em;

    margin: 0;
    padding: 0;
}

span {
    font-weight: 400;
    font-size: 2em;

    margin: 0 0 0 0.2rem;
    padding: 0;
}

.margin_side {
    margin: 0 1rem;
}


/* ---------- IDs ---------- */
#back {
    position: absolute;
    z-index: -1;
}
#front {
    position: absolute;
    z-index: 1;
}

#soleil {
    height: 2.1rem;
    width: auto;

    position: relative;
    top: 0.22rem;

    margin: 0;
    padding: 0;
}
#meteo {
    margin-right: 0.3rem;
}

#name {
    font-weight: 400;
    font-size: 1.5em;

    margin: 0;
    padding: 0;
}

@media screen and (max-width: 650px) {
    #name {
        font-size: 1.2em;
    }
}